.btn {
  display: inline-flex;
  padding: 15px 25px;

  color: $color-default-white;
  border-radius: 3px;
  background-color: $color-dark-btn;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--blue {
    background-color: $color-light-bue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
