.footer {
  background-color: $color-dark;

  @include vp-767 {
    padding: 0;
  }
}

.footer .container {
  @include vp-767 {
    padding: 0;
  }
}

.footer-wrapper {
  display: flex;
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 60px 20px 60px;

  @include vp-1023 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "socials socials"
      "part ofice";
  }

  @include vp-1023 {
    padding: 47px 0 20px 26px;
  }

  @include vp-767 {
    padding: 50px 15px 20px 50px;
  }

  @include vp-374 {
    display: flex;
    flex-direction: column;
    padding: 35px 0 20px 0;
  }
}


.footer-wrapper li {
  list-style: none;
  margin-bottom: 8px;
}

.footer-wrapper ul {
  padding: 0;
}

.footer-wrapper h3 {
  color: $color-default-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer-wrapper a,
p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}

.social-links {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  @include vp-1023 {
    grid-area: socials;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  @include vp-767 {
    padding-right: 10px;
  }

  @include vp-374 {
    display: flex;
    flex-direction: column;
  }
}

.social-links a {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 23px;
  }
}

.footer__logo {
  &:hover {
    opacity: 0.8;
  }
}

.social-links__list {
  display: flex;
  padding: 0;
  margin: 0 7px;

  @include vp-374 {
    margin-bottom: 10px;
    margin-left: 18px;
  }
}

.social-links li {
  margin: 0 19px 0 7px;

  @include vp-767 {
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  @include vp-374 {
    margin: 0;
  }

  &:hover {
    opacity: 0.8;
  }
}

.social-links__list a {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 23px;
  }

  @include vp-767 {
    margin-right: 15px;
  }

  @include vp-374 {
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.part-site {
  display: flex;

  @include vp-1279 {
    flex-direction: column;
  }
}

.part-site ul {
  max-width: 220px;
  margin-left: 30px;

  @include vp-1279 {
    margin-bottom: 0;
    margin-top: 0;
  }

  @include vp-1023 {
    margin-left: 0;
  }
}

.part-site li {
  margin-bottom: 6px;

  &:hover {
    opacity: 0.8;
  }
}

.part-wrapper {
  font-family: $ff-pt_mono;
  margin-left: auto;
  margin-right: 30px;

  @include vp-1023 {
    grid-area: part;
    margin: 0;
    margin-right: 20px;
  }

  @include vp-374 {
    padding: 0 25px;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    position: relative;
    margin-right: 0;
  }
}

.part-wrapper div {
  @include vp-374 {
    display: none;
  }
}

.part-wrapper div.is-active {
  @include vp-767 {
    display: flex;
  }
}

.part-wrapper button {
  display: none;

  @include vp-767 {
    cursor: pointer;
    background: none;
    border: none;
    padding: 30px;
    position: absolute;
    top: 7px;
    right: 14px;
    display: flex;
  }
}

.part-wrapper button > span {
  display: none;

  &::after {
    @include vp-767 {
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      background-color: rgb(196, 196, 196) 0%, 77%;
      position: absolute;
      top: 7px;
      right: -7px;
    }
  }

  @include vp-767 {
    cursor: pointer;
    width: 1px;
    height: 15px;
    background-color: rgb(196, 196, 196);
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
  }
}

.part-wrapper button > span.is-close {
  width: 0;
}

.part-wrapper h3 {
  margin-left: 30px;
  font-family: $ff-roboto;

  @include vp-1279 {
    margin-bottom: 20px;
  }

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 13px;
  }

  @include vp-374 {
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 24px;
  }
}

.our-ofice div {
  @include vp-374 {
    display: none;
  }
}

.our-ofice div.is-active {
  @include vp-767 {
    display: flex;
  }
}

.our-ofice {
  max-width: 310px;
  font-family: $ff-pt_mono;
  margin-left: auto;
  margin-right: 34px;

  @include vp-1023 {
    grid-area: ofice;
    margin-left: 0;
  }

  @include vp-374 {
    padding: 0 25px;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    max-width: 100%;
    margin-right: 0;
    position: relative;
    padding-bottom: 5px;
  }
}

.our-ofice h3 {
  margin-top: 24px;
}

.our-ofice a {
  font-size: 16px;
  font-family: $ff-pt_mono;
  font-weight: 400;

  @include vp-374 {
    font-size: 14px;
  }
}

.our-ofice ul {
  margin-top: 0;
  margin-bottom: 0;
}

.our-ofice li {
  &:hover {
    opacity: 0.8;
  }
}

.our-ofice p {
  font-size: 16px;
  font-family: $ff-pt_mono;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 22px;
  line-height: 18px;

  @include vp-374 {
    padding-top: 11px;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.our-ofice button {
  display: none;

  @include vp-767 {
    margin-top: 0;
    cursor: pointer;
    background: none;
    border: none;
    padding: 30px;
    position: absolute;
    top: 4px;
    right: 14px;
    display: flex;
  }
}

.our-ofice button > span {
  display: none;

  &::after {
    @include vp-767 {
      content: "";
      display: block;
      height: 1px;
      width: 15px;
      background-color: #c4c4c4;
      position: absolute;
      top: 7px;
      right: -7px;
    }
  }

  @include vp-767 {
    cursor: pointer;
    width: 1px;
    height: 15px;
    background-color: #c4c4c4;
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
  }
}

.our-ofice button > span.is-close {
  width: 0;
}
