.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba(3, 16, 27, 0.7);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 24px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;
    background-color: #00b3ff;
    border-radius: 3px;
    max-width: 500px;
    padding: 40px;
    padding-bottom: 3px;
    margin-top: 83px;
    margin-right: 34px;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    right: -29px;
    top: -153px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    @include vp-767 {
      width: 100%;
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__wrapper input {
  background-color: #019bdf;
  border-radius: 3px;
  margin-bottom: 21px;
  padding: 14px 15px;
  border: none;
  width: 100%;
  font-family: $ff-pt_mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  &:hover {
    background-color: rgba(1, 156, 223, 0.78);
  }

  &:focus {
    background-color: rgba(1, 156, 223, 0.78);
  }
}

.modal__wrapper input::placeholder {
  font-family: $ff-pt_mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  opacity: 0.7;
}

.modal__wrapper textarea {
  background-color: #019bdf;
  border-radius: 3px;
  margin-bottom: 23px;
  padding: 20px 15px;
  border: none;
  width: 100%;
  font-family: $ff-pt_mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  height: 155px;

  &:hover {
    background-color: rgba(1, 156, 223, 0.78);
  }

  &:focus {
    background-color: rgba(1, 156, 223, 0.78);
  }
}

.modal__wrapper textarea::placeholder {
  width: 100%;
  font-family: $ff-pt_mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  opacity: 0.7;
}

.modal__btn {
  width: 420px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 11px 0;
  margin-top: -5px;
  margin-bottom: 18px;
}

.modal__content h3 {
  margin-top: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 28px;
  line-height: 0;
  color: $color-default-white;
}

.modal__content p {
  letter-spacing: 1.5px;
  margin-bottom: 38px;
  width: 90%;
  margin-top: -2px;
  text-align: left;
  font-family: $ff-pt_mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.modal-checkbox {
  position: relative;
}

.modal-checkbox label {
  font-family: $ff-pt_mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  margin-left: 33px;
  letter-spacing: 1.3px;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.modal-checkbox input {
  width: 0;
  height: 0;

  &:checked::after {
    content: "";
  }
}

.modal-checkbox label + input {
  &::before {
    position: absolute;
    top: 5px;
    left: 8px;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
  }

  &::after {
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
    transform: rotate(130deg);
    width: 6px;
    height: 4px;
    border-top: 1px solid $color-default-white;
    border-right: 1px solid $color-default-white;
  }

  &:focus-visible::before {
    border: 1px solid $color-default-black;
  }
}

.modal-user-phone {
  width: 100%;
}

.modal-user-name {
  width: 100%;
}

.modal-submit {
  display: flex;
  flex-direction: column-reverse;
}
