.about-wrapper {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 121px;

  @include vp-1023 {
    padding-bottom: 81px;
  }
}

.about__description {
  max-height: 240px;
  margin-left: 260px;
  overflow: hidden;

  @include vp-1023 {
    margin-left: 200px;
    margin-right: 30px;
    max-height: 324px;
  }

  @media (max-width: 500px) {
    margin-left: 20px;
  }

  @include vp-374 {
    max-height: 263px;
    margin-left: 10px;
    margin-right: 0;
  }
}

.about__description ul {
  padding-left: 0;
  margin-bottom: 50px;


  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-374 {
    margin-top: 0;
  }
}

.about__description h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #041827;

  @include vp-374 {
    font-size: 25px;
    margin-bottom: 9px;
  }
}

.about__description li {
  list-style: none;
}

.about__description p {
  margin-bottom: 21px;
  font-family: $ff-pt_mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #041827;

  @include vp-1023 {
    margin-top: 0;
    line-height: 21px;
    margin-bottom: 24px;
  }

  @include vp-374 {
    margin-top: 0;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
  }
}

.btn-about {
  margin-top: 16px;
  background-color: #f8fdff;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: 260px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 47px;
  color: $color-light-bue;
  border: 1px solid $color-light-bue;
  border-radius: 3px;

  @include vp-1023 {
    margin-left: 206px;
  }

  @media (max-width: 500px) {
    margin-left: 20px;
  }

  @include vp-374 {
    margin-top: 15px;
    padding: 8px 41px;
    margin-left: 9px;
  }

  &:hover {
    background-color: #e6eff479;
  }
}

.about__description.is-active {
  max-height: 100%;
}
