.main-wrapper {
  position: relative;
  width: 100%;
  background-color: $color-dark;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
  position: absolute;
}

.main-wrapper img {
  width: 1920px;
  height: 880px;
  object-fit: cover;
  display: block;
  margin: 0 auto;

  @include vp-767 {
    width: 770px;
    height: 640px;
  }

  @include vp-374 {
    width: 374px;
    height: 560px;
  }
}

.article {
  width: 900px;
  position: absolute;
  top: 48.5%;
  left: 48%;
  transform: translate(-50%, -50%);

  @include vp-1279 {
    left: calc(100vw - 50%);
    width: 700px;
  }

  @include vp-767 {
    padding: 0 20px;
    top: 45.5%;
    max-width: 655px;
    left: calc(100vw - 53%);
    width: 98%;
  }

  @include vp-374 {
    top: 44.5%;
    left: calc(100vw - 51%);
    margin: 0;
    max-width: 285px;
    padding: 0 10px;
  }

}

.article h1 {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 71px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-white;

  @include vp-1279 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    font-size: 57px;
    line-height: 57px;
    margin-bottom: 10px;
  }

  @include vp-374 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 6px;
  }
}

.article p {
  display: block;
  margin-bottom: 46px;
  max-width: 680px;
  font-family: $ff-pt_mono;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: $color-white;


  @include vp-1279 {
    margin-top: 0;
  }

  @include vp-767 {
    font-size: 22px;
  }

  @include vp-374 {
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 44px;
  }
}

.article a {
  background: $color-light-bue;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    margin-left: 43px;
    margin-top: 11px;
  }

  @media(max-width: 550px) {
    display: none;
    margin-left: 0;
    max-width: 350px;
  }
}

.article .btn-mobile {
  display: none;

  @media(max-width: 550px) {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }

  @include vp-374 {
    margin-top: 0;
    font-size: 12px;
    max-width: 265px;
  }
}
