.goods {
  background-color: $color-dark;
  padding: 50px 0 140px 0;

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  @include vp-374 {
    padding-top: 32px;
    padding-bottom: 83px;
  }
}

.goods h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 51px;
  color: $color-default-white;
  display: block;
  margin: 0 auto;
  max-width: 1220px;
  margin-top: 15px;
  margin-bottom: 53px;

  @include vp-767 {
    margin-bottom: 39px;
  }

  @include vp-374 {
    font-size: 25px;
    line-height: 39px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

.good-card {
  display: block;
  position: relative;

  &:hover .img-wrapper {
    background: none;
  }
}

.good-card img {
  background-color: black;
  object-fit: cover;
  width: 100%;
  height: 650px;

  @include vp-1023 {
    height: 400px;
  }

  @include vp-767 {
    height: 250px;
  }
}

.goods .container {
  @include vp-767 {
    padding: 0 48px;
  }

  @include vp-374 {
    padding: 0 25px;
  }
}

.goods-cards {
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  display: grid;
  column-gap: 85px;
  grid-template-columns: repeat(3, 1fr);


  @include vp-1279 {
    column-gap: 30px;
    justify-content: center;
  }


  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.good-card__des {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.good-card__des p {
  max-width: 240px;
  padding: 28px 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $color-default-white;


  @include vp-767 {
    padding-left: 48px;
    padding-top: 20px;
    font-size: 17px;
    max-width: 230px;
  }

  @include vp-374 {
    padding: 10px 30px;
    font-size: 16px;
    max-width: 220px;
  }
}

.good-card span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: $color-light-bue;
  border-radius: 3px 0px 0px 0px;

  @include vp-374 {
    width: 40px;
    height: 40px;
  }
}


.good-card span {
  &:after {
    content: "";
    position: absolute;
    bottom: 27px;
    right: 27px;
    transform: rotate(45deg);
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1px solid $color-default-white;
    border-right: 1px solid $color-default-white;

    @include vp-374 {
      bottom: 17px;
      right: 17px;
    }
  }
}

.good-desc {
  display: none;

  @include vp-374 {
    display: block;
  }
}
