.article {
  z-index: 1;
  width: 900px;
  position: absolute;
  top: 48.5%;
  left: 48%;
  transform: translate(-50%, -50%);

  @include vp-1279 {
    left: calc(100vw - 50%);
    width: 700px;
  }

  @include vp-767 {
    padding: 0 20px;
    top: 46%;
    max-width: 655px;
    left: calc(100vw - 53%);
    width: 98%;
  }

  @media (max-width: 450px) {
    left: calc(100vw - 55%);
    width: 100%;
  }

  @include vp-374 {
    top: 43%;
    left: calc(100vw - 50%);
    margin: 0;
    max-width: 300px;
    padding: 0 10px;
  }
}

.article h1 {
  display: block;
  margin-top: 52px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 74px;
  line-height: 94px;
  text-transform: uppercase;
  color: $color-white;

  @include vp-1279 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    margin-top: 37px;
    font-size: 59px;
    line-height: 57px;
    margin-bottom: 10px;
  }

  @include vp-374 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 6px;
  }
}

.article p {
  margin-top: 28px;
  display: block;
  margin-bottom: 46px;
  max-width: 680px;
  font-family: $ff-pt_mono;
  font-weight: 400;
  font-size: 26px;
  line-height: 138%;
  color: $color-white;


  @include vp-1279 {
    margin-top: 0;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 160%;
    word-spacing: 16px;
    margin-bottom: 53px;
  }

  @include vp-374 {
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 44px;
    word-spacing: normal;
    line-height: 140%;
  }
}

.article a {
  display: inline-block;
  background: $color-light-bue;
  border-radius: 3px;
  padding: 16px 19px;

  @include vp-767 {
    padding: 16px 15px 16px 0;
    margin-left: 42px;
  }

  @include vp-374 {
    text-align: center;
    padding: 10px 45px;
    margin: 0;
    margin-left: 5px;
  }
}

.article__desktop {
  text-align: center;
  color: $color-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;
  padding: 5px;
  text-transform: uppercase;

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    margin-left: 22px;
    margin-top: 8px;
  }

  @media (max-width: 550px) {
    margin-left: 0;
    max-width: 350px;
  }

  @include vp-374 {
    display: none;
  }
}

.article__mobile {
  display: none;

  @include vp-374 {
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
    display: block;
    margin-top: 0;
    text-transform: uppercase;
    max-width: 265px;
  }
}
