.main-wrapper {
  position: relative;
  width: 100%;
  background-color: $color-dark;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
  }
}

// .img-wrapper {
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
//   position: absolute;
// }

.main-wrapper img {
  background-color: #000000;
  width: 1920px;
  height: 880px;
  object-fit: cover;
  display: block;
  margin: 0 auto;

  @include vp-767 {
    width: 770px;
    height: 640px;
  }

  @include vp-374 {
    width: 374px;
    height: 560px;
  }
}
