.social-links {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  @include vp-1023 {
    grid-area: socials;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-right: 10px;
  }

  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
}

.social-links a {
  display: flex;
  align-items: center;
  margin-bottom: 28px;

  @include vp-1023 {
    margin-bottom: 23px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.social-links__list {
  display: flex;
  padding: 0;
  margin: 0;

  @include vp-1023 {
    margin-right: 14px;
  }

  @media (max-width: 550px) {
    margin-bottom: 0;
    margin-left: 18px;
  }
}

.social-links li {
  &:hover {
    opacity: 0.8;
  }
}

.social-links__list a {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  margin: 0;

  @include vp-1023 {
    // margin-bottom: 23px;
  }

  @media (max-width: 550px) {
    // margin-right: 10px;
    // margin-left: 15px;
    // margin-bottom: 15px;
  }
}
